:root {
  --orange: #f39c12;
  --orange-secundary: #ffb816;
  --blue: #1c1ca6;
  --silver: #ccd1d1;

  --text-silver: #9088a1;
  --text-black: #221243;

  --silver-box_shadown-rgb: 144, 136, 161;
  --orange-rgb: 243, 156, 18;
}
