.account-container {
  background: linear-gradient(-90deg, #1f618d, #0e457e);
  padding: 3rem;
  border-radius: 1rem;
}
.account-date_header {
  background-color: white;
  border-radius: 1rem;
  padding: 30px 20px;
  margin-bottom: 1.5rem;
}
.account-date_picker-container {
  text-align: center;
}
.account-date_picker {
  width: 90%;
  margin: auto;
}
.account-total {
  text-align: center;
  font-family: 'Sarabun', sans-serif;
  font-size: 1.1rem;
}
.account-pago {
  text-align: center;
  font-family: 'Sarabun', sans-serif;
  font-size: 1.1rem;
}
.account-monto {
  font-size: 1.2rem;
  color: var(--orange);
}

.account-headers {
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  font-family: 'Sarabun', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}
.account-item {
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  font-family: 'Sarabun', sans-serif;
  font-size: 1.1rem;
  margin-top: 0.3rem;
}
.account-item.pay {
  border: #16a085 dashed 5px;
  transition: all 0.3s;
}
.account-item.pay:hover {
  transform: translate(-2px, -3px);
  box-shadow: 2px 3px 15px #16a085;
}
.account-item.not_pay {
  border: #c0392b dashed 5px;
  transition: all 0.3s;
}
.account-item.not_pay:hover {
  transform: translate(-2px, -3px);
  box-shadow: 2px 3px 15px #c0392b;
}
